* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.overflowHidden {
    overflow: hidden;
}

.mainPage {
    position: relative;

    &:after {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(73, 26, 69, .75);
        z-index: 8;
        position: absolute;
    }

    .demo {
        height: 100vh;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9;
        color: #333;
        padding: 15px;

        h2 {
            font-size: 50px;
            text-align: center;
        }

        .isCookieSet {
            margin-top: 20px;
            text-align: center;
            color: #dedede;
            display: none;

            button {
                padding: 5px 15px;
                font-size: 14px;
                margin: 15px 0;
            }
        }

        &.cookieAdded {
            color: #ddd;

            h2 {
                color: #ddd;
            }

            .isCookieSet {
                color: #333;
            }
        }
    }
}

.customModal {
    position: fixed;
    top: -2px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 10;
    /*transition: height 0.3s ease;*/
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
    display: flex;
    align-items: center;
    &.show {
        /*transition: height 0.3s ease;*/
        top: 0px;
        height: 100%;
        .modalWrap {
            transform: scale(1);
        }
    }

    .modalWrap {
        background-color: #ffd101;
        width: 90%;
        display: flex;
        margin: 0 auto;
        min-height: 90%;
        align-items: center;
        padding: 50px 15px;
        justify-content: center;
        position: relative;
        transform: scale(0);
        transition: transform 0.7s;

        .close {
            position: absolute;
            height: 30px;
            width: 30px;
            right: 15px;
            cursor: pointer;
            top: 15px;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 14px;
                left: 3px;
                height: 2px;
                width: 30px;
                background-color: #000;
                transform: rotate(45deg);
                display: block;
            }

            &:after {
                transform: rotate(135deg);
            }
        }

        .contentWrap {
            margin-right: 50px;
            color: #00000B;
            text-align: center;

            >h3,
            p {
                font-size: 30px;
                margin-bottom: 3px;
                text-transform: uppercase;
                font-weight: 600;
            }

            >p {
                margin-bottom: 30px;
                font-weight: 400;
            }

            form {
                margin-top: 20px;

                .inputGroup {
                    margin-bottom: 15px;

                    .inputText {
                        padding: 20px 20px;
                        border: 0;
                        outline: 0;
                        width: 100%;
                        background-color: #fff;
                        color: #333;
                        font-size: 16px;
                        border-radius: 3px;
                        border: 1px solid rgba(0, 0, 0, 0.2);

                        &::-webkit-input-placeholder {
                            color: #666;
                        }

                        &::-moz-placeholder {
                            color: #666;
                        }

                        &:-ms-input-placeholder {
                            color: #666;
                        }

                        &:-moz-placeholder {
                            color: #666;
                        }
                    }

                    #checkMe {
                        display: none;

                        +label {
                            position: relative;
                            padding-left: 35px;
                            text-align: left;
                            display: block;

                            &:after {
                                position: absolute;
                                content: "";
                                height: 20px;
                                width: 20px;
                                border: 2px solid #fff;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }

                            &:before {
                                position: absolute;
                                content: "";
                                height: 7px;
                                width: 23px;
                                border-style: solid;
                                border-width: 2px 2px 0 0;
                                border-color: #fff;
                                left: 6px;
                                top: 0%;
                                transform: rotate(135deg);
                                opacity: 0;
                            }
                        }

                        &:checked {
                            +label {
                                &:before {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    p.error {
                        display: none;
                        color: red;
                        font-size: 13px;
                        text-align: left;

                        &.show {
                            display: block;
                        }
                    }
                }

                .sbmtBtn {
                    margin-top: 30px;
                    padding: 20px 20px;
                    cursor: pointer;
                    font-weight: 600;
                    border: 0;
                    outline: 0;
                    background-color: #000;
                    color: #fff;
                    font-weight: 400;
                    font-size: 24px;
                    display: block;
                    width: 100%;
                }

                .policyLink {
                    color: #333;
                    text-transform: uppercase;
                    padding-top: 5px;
                    display: inline-block;
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 1199px) {
    .customModal {
        .modalWrap {
            .contentWrap {
                > h3,p {
                    font-size: 24px;
                }
            }
        }
    }
}
@media(max-width: 1023px) {
    .customModal {
        overflow: auto; 
        .modalWrap {
            min-height: auto;
            >img {
                display: none;
            }

            .contentWrap {
                margin-right: 0;
                width: 100%;
                form {
                    max-width: 500px;
                    margin-left: auto;
                    margin-right: auto; 
                }
            }
        }
    }
}
@media(max-width: 767px) {
    .customModal {
        .modalWrap {
            .contentWrap{
                > h3,p {
                    font-size: 17px;
                }
                form {
                    .inputGroup {
                        .inputText {
                            padding: 10px;
                        }
                    }
                    .sbmtBtn {
                        padding: 12px;
                        font-size: 16px;
                    }
                    .policyLink {
                        margin-top: 10px;
                    }
                }
            }
            .close{
                top: 5px;
                right: 5px;
                &:before,&:after {
                    width: 20px;
                }
            }
        }
    }
}
